html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    color: white;
  }
  
  header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
  }
  
  header h1 {
    background-color: rgba(22, 141, 115, 0.404);
    margin: 0;
    padding: 14px 20px;
    height: 53px;
  }
  
  .wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header ul {
    padding: 0;
    display: flex;
  }
  
  header li {
    margin-left: 20px;
    list-style-type: none;
  }
  
  header li a {
    color: gray;
    text-decoration: none;
  }
  
  #about, #portfolio {
    border-right: 1px solid gray;
    padding-right: 20px;
  }
  
  main {
    border-top: 1px solid black;
    background: url(../images/backgroung.png);
    padding-top: 12px;
    min-height: 100%;
    margin-bottom: -50px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  section {
    color: gray;
    width: 960px;
    margin: 0 auto;
    background: white;
  }
  
  .section-inner h2 {
    padding: 30px 30px 0px 30px;
    color: green
  }
  
  .section-content {
    margin: 0 10px 20px 20px;
    padding-bottom: 20px;
    border-top: 2px solid gray;
  }
  
  footer {
    background: gray;
    height: 55px;
  }
  
  .footer,
  .push {
    height: 50px;
  }
  
  .footer {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    border-top: 6px solid green;
  }
  
  footer p {
    margin: 0;
  }